@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: #F3F4F6;
  color: #171717;
  overflow-x: hidden;
  cursor: none;
  /* Hide default cursor */
}

a,
button,
input,
textarea {
  cursor: none;
  /* Ensure cursor is hidden on interactive elements too */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0284c7;
}